{% extends 'base.html.twig' %}

{% block title %}Accueil Candy Shop!{% endblock %}


{% block body %}

	<div class="cartes">
		{% for produit in produits %}
			<div class="card" >
				<img src="{{produit.image}}" alt="dragibus" class="dragibus_img">
				<div class="card-body">
					<h5 class="card-title">{{produit.nom}}</h5>
					<p class="card-text">{{produit.prix}}</p>
					<a href="/produit/{{produit.id}}" class="btn-primary">VOIR LE DETAIL</a>
				</div>
			</div>
		{% endfor %}

	</div>


{% endblock %}
