{% extends 'base.html.twig' %}

{% block title %}Accueil Candy Shop!{% endblock %}


{% block body %}


            <div class = "cartes">
            <div class="card" style="width: 18rem;">
                <img src="img/dragibus.png" alt="dragibus" class="dragibus_img">     
            <div class="card-body">
                <h5 class="card-title">DRAGIBUS</h5>
                <p class="card-text">6,00 € le kilo</p>
                <a href="#" class="btn btn-primary">ACHETER</a>
            </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="img/boules de gomme.png" alt="boules de gomme" class="boulesdegomme_img">
            <div class="card-body">
                <h5 class="card-title">BOULES DE GOMME</h5>
                <p class="card-text">6,00 € le kilo</p>
                <a href="#" class="btn btn-primary">ACHETER</a>
            </div>
            </div>
               

                <div class="card" style="width: 18rem;">
                <img src="img/bonbons fruits.png " alt="bonbons fruits" class="bonbonsfruits_img">
                <div class="card-body">
                    <h5 class="card-title">BONBONS AUX FRUITS</h5>
                    <p class="card-text">6,00 € le kilo</p>
                    <a href="#" class="btn btn-primary">ACHETER</a>
                </div>
                </div>

                <div class="card" style="width: 18rem;">
                <img src="img/sucettes.jpg" alt="sucettes" class="sucettes_img">
                <div class="card-body">
                    <h5 class="card-title">SUCETTES</h5>
                    <p class="card-text">6,00 € le kilo</p>
                    <a href="#" class="btn btn-primary">ACHETER</a>
                </div>
                </div>

                <div class="card" style="width: 18rem;">
                <img src="img/bonbons cola.PNG" alt="bonbons cola" class="bonbonscola_img">
                <div class="card-body">
                    <h5 class="card-title">BONBONS AUX COLA</h5>
                    <p class="card-text">6,00 € le kilo</p>
                    <a href="#" class="btn btn-primary">ACHETER</a>
                </div>
                </div>
                </div>

                  
        </div>
    </section>
 
{% endblock %}
