{% extends 'base.html.twig' %}

{% block body %}

CONDITIONS GÉNÉRALES
<p>
PREAMBULE

Les présentes « Conditions Générales de Vente » s'appliquent aux opérations juridiques portant sur les produits commercialisés auprès de ses clients par Candy Shop au sein de sa boutique virtuelle.

DEFINITIONS :

Les mots ou expressions ci-après auront dans le cadre des présentes la signification suivante :

Boutique Internet : désigne le site Internet de Candy Shop sur lequel les Produits sont présentés et vendus aux clients.

Commande : désigne le contrat de vente conclu entre Candy Shop et le client de la boutique Internet de Candy Shop.

Fiche produit : désigne les informations classées concernant un produit fournies par Candy Shop lors de la mise en vente du dit produit dans sa boutique internet.

Produits : désigne l'ensemble des biens et services mis en vente par Candy Shop dans sa boutique internet.

Service : désigne la vente de Produits par Candy Shop aux clients de sa Boutique internet.

Transaction : désigne l'ensemble des opérations, traitements sécurisés, autorisations et accords inhérents au paiement du prix des Produits commandés par carte bancaire.

ARTICLE 1 - OBJET

Les présentes Conditions Générales de Vente ont pour objet de définir les termes et conditions auxquels Candy Shop propose et vend ses Produits à ses clients.
Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite.

ARTICLE 2 - ACCEPTATION DES CONDITIONS

Le client reconnaît avoir pris connaissance, au moment de la passation de Commande, des présentes conditions générales de vente et déclare expressément les accepter sans réserve.
Les présentes conditions générales de vente régissent les relations contractuelles entre Confiserie Foraine et son client, les deux parties les acceptant sans réserve.

ARTICLE 3 - COMMANDE

Les systèmes d'enregistrement automatique sont considérés comme valant preuve de la nature, du contenu et de la date de la Commande.

Candy Shop confirmera au client l'acceptation de sa Commande par l'envoi d'un message de confirmation à l'adresse mail que ce dernier aura communiqué. La vente ne sera conclue qu'à compter de l'envoi de ladite confirmation de commande.

Candy Shop se réserve le droit de refuser ou d'annuler toute Commande d'un client notamment en cas d'insolvabilité dudit client ou dans l'hypothèse d'un défaut de paiement de la Commande concernée ou d'une livraison antérieure ou d'un litige relatif au paiement d'une commande antérieure.

Les mentions indiquées par le client, lors de la saisie des informations inhérentes à sa Commande engagent celui-ci. Confiserie Foraine ne saurait être tenu responsable des erreurs commises par le client dans le libellé des coordonnées du destinataire de la Commande (adresse de livraison, adresse de facturation notamment) et des retards de livraison ou de l'impossibilité de livrer les Produits commandés que ces erreurs pourraient engendrer.

ARTICLE 4 - LIVRAISON

La livraison sera effectuée par transporteur ou directement par Confiserie Foraine.

Le cas échéant, le client s'engage à régler à réception, toutes les taxes, droits, impôts et autres charges présents et à venir dus au titre de la livraison desdits produits eux-mêmes; la responsabilité solidaire de Confiserie Foraine ne pouvant à aucun moment être engagée à ce titre.

En cas de retard de livraison excédant sept (7) jours, le Client pourra, s’il le souhaite, et sauf cas de force majeure, dénoncer le contrat de vente par lettre recommandée avec demande d’avis de réception. Ce droit devra toutefois être exercé dans un délai de soixante (60) jours ouvrés à compter de la date de livraison initialement prévue au contrat.

A réception des Produits commandés, le client ou le destinataire devra vérifier le bon fonctionnement du bien livré, et prendra connaissance de ses conditions d'emploi figurant sur la notice d'utilisation qui lui est fournie.

Dans l'hypothèse où l'un ou plusieurs des produits commandés seraient manquants ou détériorés, le client ou le destinataire doit faire d'éventuelles réserves auprès du livreur si le carton présente un défaut.

Aucun remboursement ou échange ne sera effectué concernant les confiseries et autres articles emballés individuellement dont le contenant (tubo, boite, présentoir, ...) aurait été endommagé.

Pour être acceptées, les réclamations concernant des produits manquants ou détériorés doivent être communiquées par e-mail dans les 48h suivant la réception de la commande.

En cas de défauts apparents, le client bénéficie du droit de retour dans les conditions prévues dans la notice d'utilisation du bien.

Pour des raisons de disponibilité des produits commandés, une commande pourra faire l'objet de plusieurs livraisons successives au client.

Dans l'hypothèse où le client souhaiterait que les produits commandés soient livrés à deux adresses distinctes, il conviendra que ce dernier passe 2 commandes distinctes.

ARTICLE 5 - RETRACTATION

Le client dispose d'un délai de 14 jours jours à compter de la réception des Produits commandés pour les retourner à Confiserie Foraine contre échange ou remboursement. Dans cette hypothèse, le client devra renvoyer à ses frais les produits neufs, dans leur emballage d'origine intact et fermé, accompagnés de tous les accessoires éventuels, notices d'utilisation et documentations à l'adresse suivante :

CANDY SHOP - 50 Boulevards Albert Einstein - 44000 Nantes

En cas d'exercice du droit de rétractation, Candy Shop s'engage à rembourser les sommes versées par le client, sans frais, à l'exception des frais de retour.

Le remboursement est dû dans un délai maximum de 14 jours.

Conformément à la législation en vigueur, ce droit de rétractation ne s'applique pas aux professionnels agissant à des fins qui entrent dans le cadre de leur activité professionnelle.

ARTICLE 6 - PRIX

Le prix est exprimé en euro.

Le prix indiqué sur les Fiches produit ne comprend pas les frais inhérents au transport.

Le prix indiqué dans la confirmation de Commande est le prix définitif exprimé toutes taxes comprises et incluant la TVA. Ce prix comprend le prix des Produits, les frais de manutention, d'emballage et de conservation des Produits, les frais de transport.

ARTICLE 7 - PAIEMENT

Le prix facturé au client est le prix indiqué sur la confirmation de Commande adressée par Candy Shop.

Le prix des Produits est payable au comptant par un des moyens de paiement proposé sur le site le jour de la commande effective.

La Commande validée par le client ne sera considérée comme effective que lorsque le centre de paiement bancaire sécurisé aura donné son accord sur la transaction et, le cas échéant, après acceptation de prise en charge du risque par l'assureur.

ARTICLE 8 - LOI APPLICABLE

Les présentes conditions générales de vente sont soumises au droit français.

ARTICLE 9 - RESPONSABILITE

Candy Shop ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter d'un mauvais fonctionnement ou de la mauvaise utilisation des Produits commercialisés.

La responsabilité de Confiserie Foraine sera, en tout état de cause, limitée au montant de la commande. En cas de difficultés dans l'application du présent contrat, le client et Candy Shop se réservent la possibilité, avant toute action en justice, de rechercher une solution amiable.

A défaut, pour les clients professionnels, le Tribunal de Commerce de Draguignan est seul compétent, quels que soient le lieu de livraison et le mode de paiement accepté.

ARTICLE 10 - GARANTIE

Dans tous les cas Confiserie Foraine ne pourra être tenu pour responsable du non-respect des dispositions réglementaires et législatives en vigueur dans le pays de réception. La responsabilité de Confiserie Foraine est systématiquement limitée à la valeur du Produit mis en cause déterminée à la date de sa vente et ce sans possibilité de recours envers la marque ou la société productrice du produit.

Le client pourra contacter le service clients par téléphone (01 23 45 67 89) ou par e-mail (contact@candy-shop.com).

ARTICLES 11 - INFORMATIONS LEGALES

Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement des commandes, l'établissement des factures et des contrats de garantie. Le défaut de renseignement entraîne la non-validation de la Commande.

Conformément à la loi " Informatique et Libertés ", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).

Le client dispose (article 34 de la loi du 6 janvier 1978) d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de Store-Factory. De plus, Confiserie Foraine s'engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.

</p>


{% endblock %}