{% extends 'base.html.twig' %}

{% block body %}
 <div class="card" style="width: 18rem;">
            <img src="img/boules de gomme.png" alt="boules de gomme" class="boulesdegomme_img">
        <div class="card-body">
            <h5 class="card-title">Boules de gomme</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
            <img src="img/dragibus.png" alt="dragibus" class="dragibus_img">
        <div class="card-body">
            <h5 class="card-title">Dragibus</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
            <img src="img/bonbons fruits.png " alt="bonbons fruits" class="bonbonsfruits_img"> 
        <div class="card-body">
            <h5 class="card-title">Bonbons aux fruits</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
            <img src="img/sucettes.jpg" alt="sucettes" class="sucettes_img">
        <div class="card-body">
            <h5 class="card-title">Sucettes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
           <img src="img/bonbons cola.PNG" alt="bonbons cola" class="bonbonscola_img"> 
        <div class="card-body">
            <h5 class="card-title">Bonbons au cola</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

<div class="card" style="width: 18rem;">
            <img src="img/boules de gomme.png" alt="boules de gomme" class="boulesdegomme_img">
        <div class="card-body">
            <h5 class="card-title">Boules de gomme</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>

{% endblock %}