

.logo_Candy_img{
    width: 150px;
    height:150px;
}
.header__box{
    display: flex;
    margin-left: 90%;
    width: 50px;
    min-height: 20vh;
}
.Logo__container_bd-grid {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)),
    url(/img/marshmallows.jpg) no-repeat center center;
    background-size: cover;
}
.contenu_header {
    min-height: 30vh;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    color: #E97575;
    text-decoration: none;
    list-style: none;
    width: 100%;
    padding: 5px;
    max-width:calc(100% - 10px)
}
a.nav-link.active{
    text-decoration: none;
}
a.nav-link{
    text-decoration: none;
    color: #E97575;
}

.marshmallows_img{

    max-width:100%
    margin-top: 90px;

}
.bonbons{
    width: 20%;
}

.cartes{
    height: auto;
    margin: 0 0 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: left;
    align-items: end;
    float: left;
    width: 90%;
    padding: 32px 5px; 
    width: calc(100% - 46px);
    padding: 5px;
    border: 0;
    outline: 0;
    padding-inline-start: 40px;
    height: auto;
    height: 100%;
    background:  #f3f3f3;
}
.card{

    height: 170px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

h1{
    height: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Rye";
    font-size: 250%;
    color: #E97575;
    margin-top: -100px; 
   
}
  
img{
    border-radius: 5%;
    
    width: 100px;
    
}
.button-light{
    font-family: "Rye";
        text-align:center;
        background:#E97575;
        color:white;
        font-family: "Rye";
        border-radius:10%;
        border-radius: 4px;
        text-decoration:none;
        text-align: center;
}
.btn-primary{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    text-align:center;
    background:#E97575;
    color:white;
    font-family: "Rye";
    border-radius:4px;
    text-decoration:none;
    padding: 3px 5px;
}
    
.nav-footer{
    display: flex;
    border-top: 1px,solid,rgb(185, 183, 183);
    color:black;
    margin-right: 50%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  
}

.footer{
  position:fixed;
  bottom:0;  
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 300px;
  margin-bottom: 0px;
  
    
}
.footer__box{
   
}
@media (max-width: 980px){} 

  

 @media only screen and (max-width: 1190px) {
   
 }
     
