{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  
  {{form(contactForm)}}

{% endblock %}

